![IES21](img/logo_ies.png)

# IEFI -  Computación Científica

## EJERCICIOS

En la siguiente celda importe todas las librerías que necesite, puede agregarlas a medida que las vaya necesitando.

In [2]:
import numpy as np
import pandas as pd


En la carpeta data encontrará el archivo movie.csv que contiene información real sobre películas. Cárguelo en un dataframe llamado **df_movies**.

In [3]:
# Escriba aquí su código
df_movies=pd.read_csv("data/movie.csv")

Muestre las 10 primeras filas

In [4]:
# Escriba aquí su código
df_movies.head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000

### Ejercicio
Obtenga una lista con los nombres de todas las columnas del dataframe, guárdelas con el nombre lst_columnas

In [5]:
# Escriba aquí su código
lst_columns=df_movies.columns
lst_columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

### EJERCICIO
Cuántas filas tiene el dataframe? Guarde el resultado en la variable n_filas y muestre el resultado

In [6]:
# Escriba aquí su código
n_filas=df_movies.index
n_filas

RangeIndex(start=0, stop=4916, step=1)

### EJERCICIO
Cuántas columnas tiene el df? guarde el resultado en n_cols y muestre su valor

In [7]:
# Escriba aquí su código
a=df_movies.shape
n_cols=a[1]
n_cols

28

### EJERCICIO

Debe quitar la columna **color** del  df_movies

In [8]:
# Escriba aquí su código
df_movies=df_movies.drop(columns=['color'])

Cree la lista lst_columnas2 con los nombres de las columnas actuales de df_movies

In [9]:
# Escriba aquí su código
lst_columnas2=df_movies.columns
lst_columnas2

Index(['director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

### EJERCICIO

La columna 'director_name' indica el nombre del director de cada película.   
Muestre una "lista" con los nombres de cada uno de los directores, cada uno debe figurar una única vez.  
Guárdelo como **lista_directores** y muéstrela

In [10]:
# Escriba aquí su código
lista_directores=df_movies.director_name.unique()
lista_directores

array(['James Cameron', 'Gore Verbinski', 'Sam Mendes', ...,
       'Scott Smith', 'Benjamin Roberds', 'Daniel Hsia'], dtype=object)

### EJERCICIO

Cuántos directores distintos hay? guarde el resultado en **n_directores** y muéstrelo

In [11]:
# Escriba aquí su código
b=lista_directores.shape
b
n_directores=b[0]
n_directores

2398

### EJERCICIO
Cuántas películas del director 'James Cameron' hay en el dataframe? Guarde el resultado en **n_cameron** y muestre el resultado

In [13]:
# Escriba aquí su código
c=df_movies[df_movies.director_name=='James Cameron']
n_cameron=c.shape[0]
n_cameron

7

### EJERCICIO
Cuántas  películas sin  nombre de director hay?  

Guarde el resultado como n_NAN_directores

In [15]:
# Escriba aquí su código
n_NAN_directores=df_movies.director_name.isnull().sum()
n_NAN_directores

102

### EJERCICIO  

Cuántas películas ha dirigido **cada** director?  Es decir queremos una serie o dataframe donde figure el nombre de cada director y la cantidad de películas que le corresponde.

Guarde la serie de datos como **qpelisxdirector**

In [16]:
# Escriba aquí su código
qpelisxdirector=df_movies.director_name.value_counts()
qpelisxdirector

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Ridley Scott        16
                    ..
Trent Cooper         1
Michael Cohn         1
Guy Maddin           1
Gregory Widen        1
Matt Johnson         1
Name: director_name, Length: 2397, dtype: int64

### EJERCICIO

La columna duration indica la duración en minutos.   

Cuál es la duración promedio entre todas las películas?   

Guárdelo como **duracion_prom**

In [17]:
# Escriba aquí su código
duracion_prom=df_movies.duration.mean()
duracion_prom

107.0907977963681

### EJERCICIO

En la columna 'actor_1_name' figura el nombre del "primer actor" de cada película.  

Obtenga una lista, serie o dataframe con el nombre del primer actor de cada una de las películas del diretor James Cameron y guárdela como **cameron_actor1**

In [18]:
# Escriba aquí su código
cameron_actor1=c.actor_1_name 
cameron_actor1

0             CCH Pounder
26      Leonardo DiCaprio
285            Joe Morton
288      Jamie Lee Curtis
599         Michael Biehn
2455        Michael Biehn
3508        Michael Biehn
Name: actor_1_name, dtype: object

Ahora cuente cuántas veces aparece cada actor en el listado de primeros actores de James Cameron.  
Guárdelo como **qcameron_actor1**

In [19]:
# Escriba aquí su código
qcameron_actor1=cameron_actor1.value_counts()
qcameron_actor1

Michael Biehn        3
Jamie Lee Curtis     1
Joe Morton           1
Leonardo DiCaprio    1
CCH Pounder          1
Name: actor_1_name, dtype: int64

### EJERCICIO
La columna **budget** corresponde al **Presupuesto** 

Cree un DataFrame de nombre **df_10_presupuesto** con las 10 peĺículas de mayor presupuesto de la historia, debe mostrar el nombre de la película ('movie_title'), el nombre del director ('director_name') y el presupuesto ('budget')y estar ordenada de mayor a menor valor del presupuesto.

In [20]:
# Escriba aquí su código
df_10_presupuesto=df_movies[["movie_title","director_name","budget"]].sort_values('budget', ascending=False).head(10)
df_10_presupuesto

                 movie_title    director_name        budget
3787          Lady Vengeance   Chan-wook Park  4.200000e+09
2955                Fateless     Lajos Koltai  2.500000e+09
2294       Princess Mononoke   Hayao Miyazaki  2.400000e+09
2305                Steamboy  Katsuhiro Ôtomo  2.127520e+09
3361                   Akira  Katsuhiro Ôtomo  1.100000e+09
4440           Godzilla 2000    Takao Okawara  1.000000e+09
3779                   Tango     Carlos Saura  7.000000e+08
3023  Kabhi Alvida Naa Kehna      Karan Johar  7.000000e+08
3216                   Kites      Anurag Basu  6.000000e+08
1325               Red Cliff         John Woo  5.536320e+08

### EJERCICIO

La columna **budget** corresponde al **Presupuesto** y la columna **gross** corresponde a los **ingresos**, queremos agregar una columna al DataFrame donde calculemos las **ganancias** (que se calcularía como ingresos menos presupuesto). Llámela ganancias y agréguela a df_movies.

Para finalizar guarde las columnas movie_title, director_name, budget, gross y ganancias como df_money y muestre los 5 primeros elementos

In [21]:
# Escriba aquí su código
df_movies["ganancias"]=df_movies.gross-df_movies.budget
df_money=df_movies[["movie_title","director_name","budget", "gross","ganancias"]]
df_money.head()

,movie_title,director_name,budget,gross,ganancias
0,Avatar,James Cameron,237000000.0,760505847.0,523505847.0
1,Pirates of the Caribbean: At World's End,Gore Verbinski,300000000.0,309404152.0,9404152.0
2,Spectre,Sam Mendes,245000000.0,200074175.0,-44925825.0
3,The Dark Knight Rises,Christopher Nolan,250000000.0,448130642.0,198130642.0
4,Star Wars: Episode VII - The Force Awakens,Doug Walker,NaN,NaN,NaN

### EJERCICIO
A partir de df_money muestre cuáles son las 10 películas con mayores ganancias? Guárdelo en df_topten_movies y muestre los resultados

In [22]:
# Escriba aquí su código
df_topten_movies=df_money.sort_values('ganancias', ascending=False).head(10)
df_topten_movies

,movie_title,director_name,budget,gross,ganancias
0,Avatar,James Cameron,237000000.0,760505847.0,523505847.0
29,Jurassic World,Colin Trevorrow,150000000.0,652177271.0,502177271.0
26,Titanic,James Cameron,200000000.0,658672302.0,458672302.0
2973,Star Wars: Episode IV - A New Hope,George Lucas,11000000.0,460935665.0,449935665.0
3028,E.T. the Extra-Terrestrial,Steven Spielberg,10500000.0,434949459.0,424449459.0
17,The Avengers,Joss Whedon,220000000.0,623279547.0,403279547.0
503,The Lion King,Roger Allers,45000000.0,422783777.0,377783777.0
237,Star Wars: Episode I - The Phantom Menace,George Lucas,115000000.0,474544677.0,359544677.0
66,The Dark Knight,Christopher Nolan,185000000.0,533316061.0,348316061.0
433,The Hunger Games,Gary Ross,78000000.0,407999255.0,329999255.0

### EJERCICIO

El directivo de una compañía cinematográfica quiere saber cuáles son las ganancias promedio que puede esperar obtener con una nueva película. Guarde el resultado en la variable prom_ganancias y muestre el resultado

In [23]:
# Escriba aquí su código
prom_ganancias=df_movies.ganancias.mean()
prom_ganancias

8693209.48456057

### EJERCICIO
Cuáles son las ganancias promedio de cada uno de los directores? En la salida deben figurar solamente los nombres de los directores y los valores de las ganancias promedio.  Guárdelo como ganancias_promedioxdirector y muestre el resultado.  

**Nota:** Si obtiene algunos NaN significa que para esos directores todos los valores de las ganancias son NaN, así que no se preocupe si obtiene NaN.

In [24]:
ganancias_promedioxdirector=df_money.groupby(["director_name"])["ganancias"].mean()

ganancias_promedioxdirector

director_name
A. Raven Cruz                NaN
Aaron Hann                   NaN
Aaron Schneider        1676553.0
Aaron Seltzer         28546578.0
Abel Ferrara         -11272676.0
                         ...
Zoran Lisinac                NaN
Álex de la Iglesia    -9996393.0
Émile Gaudreault       1239558.0
Éric Tessier                 NaN
Étienne Faure                NaN
Name: ganancias, Length: 2397, dtype: float64

### EJERCICIO
Cuáles son los 5 directores con mayores ganancias en **total considerando todas las películas** que dirigió? Guarde el resultdo como df_top_5_directors y muestre los resultados.

In [25]:
# Escriba aquí su código
df_top_5_directors=df_money.groupby(["director_name"])["ganancias"].sum().sort_values(ascending=False).head(5)
df_top_5_directors

director_name
Steven Spielberg    2.486332e+09
George Lucas        1.386641e+09
James Cameron       1.199626e+09
Chris Columbus      9.417076e+08
Peter Jackson       8.998839e+08
Name: ganancias, dtype: float64

### EJERCICIO

Quiénes son los 5 directores con mayores ganancias promedio? Podemos llevarnos una sorpresa! Guárdelo con el nombre df_top5_dirs_promedio

In [26]:
# Escriba aquí su código
df_top5_dirs_promedio=ganancias_promedioxdirector.sort_values(ascending=False).head(5)
df_top5_dirs_promedio

director_name
Tim Miller          305024263.0
George Lucas        277328296.0
Richard Marquand    276625409.0
Kyle Balda          262029560.0
Colin Trevorrow     252717531.5
Name: ganancias, dtype: float64

### EJERCICIO

Muestre un listado con las películas que ha dirigido el director que tiene las **mayores ganancias promedio** (muestre todas las columnas de df_money).  

La idea es que pueda obtener el resutado sin escribir manualmente el nombre de este gran director, para que la sintaxis quede más legible le sugiero que:  

1) primero determine el nombre de este director y que guarde ese valor en la variable director_prom_max, muéstrelo.

In [27]:
# Escriba aquí su código
director_prom_max=df_top5_dirs_promedio[0]
director_prom_max

305024263.0

2) en segundo lugar utilice esta variable para obtener el listado de sus películas. Guárdelo con el nombre lista_peliculas_dir_max_prom y muestre sus películas

In [29]:
# Escriba aquí su código
lista_peliculas_dir_max_prom=df_money[df_money.ganancias==director_prom_max]
lista_peliculas_dir_max_prom

    movie_title director_name      budget        gross    ganancias
803    Deadpool    Tim Miller  58000000.0  363024263.0  305024263.0

## RESPUESTAS 
NO MODIFIQUE LAS CELDAS DE AQUI EN ADELANTE

### Respuesta

In [26]:
#lst_columnas

### Respuesta

In [27]:
#n_filas

### Respuesta

In [28]:
#n_cols

### Respuesta

In [29]:
#lst_columnas2

### Respuesta

In [30]:
#lista_directores

### Respuesta

In [31]:
#n_directores

### Respuesta

In [32]:
#n_cameron

### Respuesta

In [33]:
#n_NAN_directores

### Respuesta

In [34]:
#qpelisXdirectores

### Respuesta

In [35]:
#duracion_prom

### Respuesta

In [36]:
#cameron_actor1

In [37]:
#qcameron_actor1

### Respuesta

In [38]:
#df_10_presupuesto

### Respuesta

In [39]:
#df_money

### Respuesta

In [40]:
#df_topten_movies

### Respuesta

In [41]:
#prom_ganancias

### Respuesta

In [42]:
#ganancias_promedioxdirector

### Respuesta

In [43]:
#df_top_5_directors

### Respuesta

In [44]:
#df_top5_dirs_promedio

### Respuesta

In [45]:
#df_top5_dirs_promedio

In [46]:
#director_prom_max

In [47]:
#lista_peliculas_dir_max_prom