<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Pandas" data-toc-modified-id="Pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Pandas</a></span></li><li><span><a href="#Series-en-Pandas" data-toc-modified-id="Series-en-Pandas-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Series en Pandas</a></span></li><li><span><a href="#DataFrames-en-Pandas" data-toc-modified-id="DataFrames-en-Pandas-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>DataFrames en Pandas</a></span><ul class="toc-item"><li><span><a href="#Crear-un-DataFrame" data-toc-modified-id="Crear-un-DataFrame-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Crear un DataFrame</a></span></li><li><span><a href="#Agregar-columnas-a-un-DataFrame" data-toc-modified-id="Agregar-columnas-a-un-DataFrame-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Agregar columnas a un DataFrame</a></span></li><li><span><a href="#Agregar-filas-con-append()" data-toc-modified-id="Agregar-filas-con-append()-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Agregar filas con append()</a></span></li></ul></li><li><span><a href="#Observando-las-características-de-un-Data-Frame" data-toc-modified-id="Observando-las-características-de-un-Data-Frame-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Observando las características de un Data Frame</a></span><ul class="toc-item"><li><span><a href="#shape()" data-toc-modified-id="shape()-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>shape()</a></span></li><li><span><a href="#describe()" data-toc-modified-id="describe()-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>describe()</a></span></li><li><span><a href="#unique()--Valores-únicos-de-una-columna" data-toc-modified-id="unique()--Valores-únicos-de-una-columna-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>unique()  Valores únicos de una columna</a></span></li><li><span><a href="#value_counts()-Cantidad-de-Valores-únicos-de-una-columna" data-toc-modified-id="value_counts()-Cantidad-de-Valores-únicos-de-una-columna-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>value_counts() Cantidad de Valores únicos de una columna</a></span></li></ul></li><li><span><a href="#Funciones-agregadas-por-columnas" data-toc-modified-id="Funciones-agregadas-por-columnas-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Funciones agregadas por columnas</a></span><ul class="toc-item"><li><span><a href="#Promedio" data-toc-modified-id="Promedio-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Promedio</a></span></li><li><span><a href="#Desvío-Standard" data-toc-modified-id="Desvío-Standard-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Desvío Standard</a></span></li><li><span><a href="#Mínimo" data-toc-modified-id="Mínimo-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Mínimo</a></span></li><li><span><a href="#Máximo" data-toc-modified-id="Máximo-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Máximo</a></span></li></ul></li></ul></div>

![IES21](img/logo_ies.png)

# COMPUTACIÓN CIENTÍFICA
# Situación Profesional 2
# CLASE 1
**Prof. Ricardo Piña**

## Pandas

Entre las librerías de Python existe **Pandas**. 

Anteriormente hemos usado NumPy para trabajar con vectores, matrices y tensores (arrays de un, dos o 3 ejes) que son las estructuras más básicas de los datos, **Pandas** se ubica "un piso por encima de NumPy", permitiendo trabajar con estructuras de datos más sofisticadas como los denominados **Data Frames** muy similares a las **planillas de cálculo tipo Excel**, los cuales tienen ciertas características tabulares muy deseables al hacer análsis de nuestros datos, como por ejemplo:

- Los Data Frames permiten dar **nombres** a las columnas y mantener indexadas las filas.
- Es posible **agregar o quitar** filas o columnas y hacer operaciones entre ellas.
- Es posible filtrar y ordenar filas o columnas fácilmente.
- Es capaz de leer y guardar datos en diversos formatos como: 
    - csv, archivos de texto, archivos de Excel
    - bases de datos SQL
    - HTML
    - XML
    - JSON
    - HDF5 (formato jerárquico de datos; muy veloz)

Por estas características, Pandas es una excelente herramienta para hacer **Data Wrangling**, es decir transformar datos **"crudos"** en datos aptos para su análisis. Generalmente ** Data Wrangling** implica las siguientes tareas referidas a los datos:  

- Limpiar
- Combinar
- Adaptar
- Evaluar


Pandas es una excelente herramienta para trabajar con datos organizados en forma de **tabla** y es una alternativa viable ante lenguajes como R que son más específicos para el uso de las matemáticas y estadísticas.

Por otro lado, podemos mencionar algunas debildades de Pandas, como por ejemplo que carece de implementación de modelos de Machine Learning como por ejemplo los Árboles de Decisión que vimos en materias anteriores; sólo provee funcionalidades básicas para Regresión Lineal.  

Cuando necesitemos aplicar técnicas de Machine Learning usaremos NumPy y Pandas en conjunto con otras librerías como **MatPlotLib para gráficar** y  **Sci-Kit** Learn para la creación de modelos...

Ahora veremos algunas funcionalidades de Pandas y luego las aplicaremos en nuestros casos de Sistemas de Recomendación.

In [1]:
import pandas as pd
import numpy as np

## Series en Pandas

En Pandas una Serie es un conjunto de valores indexados, es decir que Pandas le agrega un número de índice que comienza su numeracion en 0.  
Se utiliza la función:  
~~~
pd.Series( [array de NumPy])
~~~

In [8]:
serie=pd.Series([10,20,30])
serie

0    10
1    20
2    30
dtype: int64

Es posible acceder a los valores o a los índices por separado:

In [9]:
serie.values

array([10, 20, 30], dtype=int64)

In [10]:
serie.index

RangeIndex(start=0, stop=3, step=1)

De la misma manera que para un array de NumPy es posible acceder a los datos a través del índice que les corresponde, usando la notación usual de corchetes:

In [11]:
serie[2]

30

In [12]:
serie[0:2]

0    10
1    20
dtype: int64

Hasta aquí da la impresión que no hay diferencia entre las Series de Pandas y los arrays de NumPy, sin embargo en el caso de NumPy el ínidice está definido *implícitamente* y es un valor numérico asignado por NumPy.  
En cambio en Pandas podemos asignar números o cadenas arbitrarias como ínidice:

In [13]:
serie2=pd.Series([10,20,30,40],index=["a","b","c","d"])
serie2

a    10
b    20
c    30
d    40
dtype: int64

Lo interesante es que aún podemos acceder a los valores usando el índice:

In [14]:
serie2["b"]

20

## DataFrames en Pandas

### Crear un DataFrame

Una forma de crear un dataframe es crear uno vacío y luego agregar sus **columnas**:

In [15]:
# Creamos un dataframe vacío
df_01=pd.DataFrame()

### Agregar columnas a un DataFrame

In [16]:
# Agregamos un par de columnas:

In [17]:
df_01["Nombre"]=["Juan","Pedro","Ana"]
df_01["Edad"]=[40,25,30]

Veamos qué aspecto tiene df_01 hasta ahora:

In [18]:
# Escriba aquí su código
df_01

  Nombre  Edad
0   Juan    40
1  Pedro    25
2    Ana    30

Agreguemos una columna más, la columna "Nota" con los valores 7,9 y 4

In [19]:
# Escriba aquí su código

Veamos qué tenemos en df_01

In [20]:
# Escriba aquí su código
df_01

  Nombre  Edad
0   Juan    40
1  Pedro    25
2    Ana    30

### Agregar filas con append()

Una vez que se ha creado un DataFrame, es posible también agregar filas, cada fila nueva se debe agregar como una Serie

In [21]:
nueva_fila = pd.Series(['Carlos', 22, 6], index=['Nombre','Edad','Nota'])

In [23]:
df_01.append(nueva_fila,ignore_index=True)

   Nombre  Edad  Nota
0    Juan    40   NaN
1   Pedro    25   NaN
2     Ana    30   NaN
3  Carlos    22   6.0

Pero fíjese cómo es en realidad df_01

In [18]:
# Escriba aquí su código
df_01

  Nombre  Edad  Nota
0   Juan    40     7
1  Pedro    25     9
2    Ana    30     4

En realidad cuando hicimos el append *creó un nuevo dataframe* y mantuvo al anterior inalterado.  

Si quisiéramos agregarlo finalmente, deberíamos asignar el resultado a df_01:

In [19]:
# Escriba aquí su código

df_01=df_01.append(nueva_fila,ignore_index=True)

# Muestre df_01
df_01

   Nombre  Edad  Nota
0    Juan    40     7
1   Pedro    25     9
2     Ana    30     4
3  Carlos    22     6

Si pasamos los índices, los podemos poner en cualquier orden:

In [20]:
nueva_fila_2=pd.Series([19,4,"Marta"],index=['Edad',"Nota","Nombre"])
df_01=df_01.append(nueva_fila_2,ignore_index=True)
df_01

   Nombre  Edad  Nota
0    Juan    40     7
1   Pedro    25     9
2     Ana    30     4
3  Carlos    22     6
4   Marta    19     4

Agregue ahora los datos de Nota 4, para María que tiene 20 años y asigne el resultado a df_01:

In [21]:
# Escriba aquí su código

   Nombre  Edad  Nota
0    Juan    40     7
1   Pedro    25     9
2     Ana    30     4
3  Carlos    22     6
4   Marta    19     4
5   María    20     4

También podemos agregar varias filas, una forma de hacerlo es agregar un nuevo dataframe:

- Cree un nuevo DataFrame con las mismas columnas que df_01, llámelo df_02
- Cargue los datos de 
    - Martín, 22 , 5
    - Claudia, 19, 9
    - Esteban, 24, 8

In [22]:
# Escriba aquí su código



# Muestre df_02 para verificar
df_02

    Nombre  Edad  Nota
0   Martín    22     5
1  Claudia    19     9
2  Esteban    24     8

- Agregue estos datos a df_01
- Mueste cómo quedó df_01

In [23]:
# Escriba aquí su código

    Nombre  Edad  Nota
0     Juan    40     7
1    Pedro    25     9
2      Ana    30     4
3   Carlos    22     6
4    Marta    19     4
5    María    20     4
6   Martín    22     5
7  Claudia    19     9
8  Esteban    24     8

## Observando las características de un Data Frame

### shape()

Podemos conocer la cantidad de filas y columas con .shape()

In [24]:
df_01.shape

(9, 3)

### describe()

Esta es una gran herramienta para obtener mucha información sobre las columnas o variables numéricas con muy poco código!

Nos ofrece: 
- Cantidad de valores 
- Media
- Desvío Standard
- Valor Mínimo
- Valor para el 1er, 2do y 3er cuartil
- Valor máximo  

**Nota:** los cálculos anteriores **no** incluyen los *missing values*

In [25]:
df_01.describe()

            Edad      Nota
count   9.000000  9.000000
mean   24.555556  6.222222
std     6.747427  2.108185
min    19.000000  4.000000
25%    20.000000  4.000000
50%    22.000000  6.000000
75%    25.000000  8.000000
max    40.000000  9.000000

### unique()  Valores únicos de una columna

In [26]:
df_01.Nombre.unique()

array(['Juan', 'Pedro', 'Ana', 'Carlos', 'Marta', 'María', 'Martín',
       'Claudia', 'Esteban'], dtype=object)

### value_counts() Cantidad de Valores únicos de una columna

In [27]:
df_01.Nombre.value_counts()

Carlos     1
Ana        1
Esteban    1
Juan       1
Pedro      1
Marta      1
Martín     1
María      1
Claudia    1
Name: Nombre, dtype: int64

## Funciones agregadas por columnas

### Promedio

También podemos obtener estos valores para cada columna de manera independiente, y como las columnas tienen nombre, ahora es más fácil referirise a ellas:

Utilice nombreDataFrame.NombreColumna.Funcion()

Calcule el promedio de Edad:

In [28]:
# Escriba aquí su código
df_01.Edad.mean()

24.555555555555557

### Desvío Standard

Calcule el desvío standard para la Nota

In [29]:
# Escriba aquí su código
df_01.Nota.std()

2.1081851067789197

### Mínimo

Calcule la mínima Nota

In [30]:
# Escriba aquí su código
df_01.Nota.min()

4

### Máximo

Calcule la mayor Edad

In [31]:
df_01.Nota.max()

9